---
import Layout from "../layout/layout.astro";
import { Image } from "astro:assets";
import Avatar from '../assets/images/avatar.jpg';
const {t} = Astro.props;
---

<Layout>
    <section class="about" id="about">
        <div class="about_content">
            <div class="about_content_text">
                <h2>{t.aboutTitle}</h2>
                <p>{t.aboutDescription}</p>
            </div>
            <div class="about_content_img">
                <Image src={Avatar} alt="avatar" />
            </div>
        </div>
        <div class="hobbies">
        <h3>{t.hobbiesTitle}</h3>
        <ul>
            <li>
                <p>{t.hobby1}</p>
            </li>
            <li>
                <p>{t.hobby2}</p>
            </li>
            <li>
                <p>{t.hobby3}</p>
            </li>
        </ul>
    </div>
    </section>
</Layout>
